body {
    background-color: #72726b79; /* Light greyish background */
    text-align: center; /* Ensures all content is centered */
}

h1 {
    color: #1b1a17; /* Dark text for the title */
    width: 500px;
    text-align: center;
    margin: 0 auto;
    background-color: #c615af; /* Bright pink background for the title */
    padding: 20px;
}

h2 {
    color: #ff04e2; /* Pink text for subtitle */
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto 20px; /* Ensures space below the image and centers it */
}

iframe {
    display: block;
    margin: 20px auto 0; /* Ensures space above the iframe and centers it */
}

p {
    border: 0; 
    margin: 0 auto; 
    width: 80%; 
}

a {
    text-decoration: none;
    color: #c615af; /* Link color */
}

a:hover {
    color: darkgrey; /* Hover effect for links */
}

p, .credits {
    font-size: 1.0em; 
}
